.project{
    margin-bottom: 40px;
    display: block;
    z-index: 1;
}

.project-hide{
    transition:20ms ;
    z-index: 1;
}
.social-icon{
    transform: scale(2);
    margin:20px;
    margin-right: 40px;
    color:rgb(167, 92, 216);

    &:hover{
        color:rgb(188, 130, 216);
    }
}
.icon{
    transform: scale(1.2);
    margin: 2px 1px 0 1px ;
    z-index: 99999;
}
.woo-icon{
    color: rgb(162, 95, 228);
}
.wp-icon{
    color:rgb(122, 158, 181);
}
.php-icon{
    color: rgb(221, 187, 255);
    transform: scale(2);
    margin: 0 15px;
    padding-bottom: 7px;
}
.js-icon{
    color:rgb(244, 255, 128);
}
.react-icon{
    color: rgb(139, 120, 174);
}
.ps-icon{
    color:rgb(115, 115, 255);

}
.ai-icon{
    color:rgb(176, 136, 61);
}
.xd-icon{
    color:rgb(212, 88, 237);

}
.sass-icon{
    color:pink;
}
.arrow{
    float: right;
    margin-right: 15px;
    transform: scale(1.75);
}
.mail-icon{
    transform: scale(1.5);
}

.info-icon{

    svg{
        transform: scale(1.2);
    }
}
.woo-icon{  
    transform: scale(5);
    padding-top: 1px;
    margin-left: 50px;
}