.home-section{
    margin: 0 auto;
    .intro{
        margin: 28vh auto 10vh;
        padding: 20px;
        font-size: 1.5rem;
        max-width: fit-content;
        span.line1{
            color: $green;
            font-family: $greenFont;
        }
        span.line2{
            color: $headingsColor;
            font-size: 2.5rem;
            position: relative;
            padding: 50px auto;
            left:15%;
            top:0;
            display: block;
            margin: 10px auto;
        }
        @media only screen and (min-width: 600px){
            font-size: 2rem;
            span.line2{
                font-size: 3.5rem;
            }
        }
        @media only screen and (min-width: 800px){
            font-size: 2.5rem;
            span.line2{
                font-size: 4rem;
            }
        }
        @media only screen and (min-width: 800px){
            font-size: 3rem;
            span.line2{
                font-size: 4.5rem;
            }
        }
        @media only screen and (min-width: 1000px){
            font-size: 3.5rem;
            span.line2{
                font-size: 5rem;
            }
        }
    }
}
