// Type
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
/* 

font-family:     'Courier New', Courier, monospace;;

*/


body {
    font-family: 'Montserrat', sans-serif;
        color: $textColor;
}

h1, h2{
    // font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: currentColor;
}
button{
    margin: 0;
    padding: 0;
}

.letter{
    padding: 0;
    margin: 0;
}

.arrow-code{
    height: 350px;
}
.case-study{
    max-width: 1600px;
}

.page-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    a{
        div{
            color: $silver;
            border: 1px solid $silver;
            border-radius: 7px;
            padding: 10px 25px;
            width: 200px;
            text-align: center;
            margin: 5px 20px;
            transition: ease;
            transition-duration: 400ms;
            font-size: 1.25rem;
        }
        
        &:hover{
            div{
                color: rgb(241, 223, 182);
                transform: scale(1.03);
                transition: ease-out;
                transition-duration: 400ms;
            }
        }
    }
}
a.links{
    div{
        color: $silver;
        border: 1px solid $silver;
        border-radius: 7px;
        padding: 10px 25px;
        max-width: fit-content;
        text-align: center;
        margin: 5px 20px;
        transition: ease;
        transition-duration: 400ms;
        font-size: 1.25rem;
    }
    
    &:hover{
        div{
            color: rgb(241, 223, 182);
            transform: scale(1.03);
            transition: ease-out;
            transition-duration: 400ms;
        }
    }
}