// Variables

// Colors
$headingsColor: rgb(223, 218, 215);
$textColor:#b0b8d3;
$green: #00a99d;
$silver:  rgb(183, 235, 255);
$orange: rgb(230, 163, 0);

// Type
$bodyFont: 'Roboto', sans-serif;
$greenFont:   'Courier New', Courier, monospace;

// Layout
$section-padding: em(16) em(20);
