//wrapper
.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:rgb(5, 25, 53);
}
main .page-section{
    margin-top: 100px;
}
.padding-true{
    padding:0;
    transition: 550ms;
    @media only screen and (min-width: 800px) {
        padding-right:250px;
        transition: 750ms;
    }
}
.padding-false{
    padding:0;
    transition: 550ms;
}